@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
}

.underline_img {
    position: absolute;
    top: 16.5em;
    left: 11em;
    width: 300px;
    height: 27px;
}

.ellipse_img {
    width: 411px;
    height: 411px;
    margin-left: 5em;
}

.phone_img {
    position: absolute;
    width: 344px;
    height: 450px;
    left: 860px;
    top: 254px;
}

.vector_img {
    position: absolute;
    height: 119px;
    width: 52px;
    top: 180px;
    left: 750px;
}

.star_img {
    position: absolute;
    height: 41px;
    width: 39px;
    top: 755px;
    left: 360px;
}

.nav_2 a {
    text-decoration: none;
    color: #000000;
}

.li_1 a {
    border-radius: 50px;
    background-color: #000000;
    padding: .5em;
    color: #ffffff;
}

.ul_2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    background-color: #ffffff;
    margin: 5em auto 0 auto;
    width: 560px;
    height: 58px;
    border-radius: 50px;
}

.spiral_img {
    position: absolute;
    height: 112px;
    width: 69px;
    left: 20px;
}

.laptop_img {
    height: 362px;
    width: 500px;
}

.dualphone_img {
    height: 491px;
    width: 402px;
}

.info_img {
    height: 36px;
    width: 36px;
}

.company_img {
    width: 1163.69px;
    height: 40px;
}

.footer_small {
    margin-top: 3em;
    border-top: 1px solid #6D6D6D;
    border-bottom: 1px solid #6D6D6D;
}

footer h6 {
    color: #6D6D6D;
    font-size: 14px;
}

footer p {
    font-size: 14px;
}


